---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/hero/Hero.astro';
import About from '../sections/about/About.astro';
---

<Layout>
	  <Hero />
	  <div class="h-10 bg-[#de5e36]"> </div>
	  <div class="h-10"> </div>
	  <About />
</Layout>
