---
import { Image } from "astro:assets";
import logo from "../assets/images/Navbar/Logo_webp.webp";
---
<footer class="w-full bg-[#dbe9ee] text-black py-12 px-4 sm:px-8 md:px-16">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between gap-12 md:gap-8">
    <!-- Columna 1: Logo-->
    <div class="flex flex-col items-center md:items-start text-center md:text-left">
      <a href="/" class="flex items-center space-x-2 flex-shrink-0 mb-4">
        <Image src={logo} alt="logo" class="h-15 w-25" format="png" />
      </a>
    </div>
    <!-- Columna 2: Contactos -->
    <div class="flex flex-col items-center md:items-start text-center md:text-left">
      <h3 class="font-semibold mb-2">Contactos</h3>
      <ul class="text-sm space-y-1 text-gray-300">
        <li>lauroflores@yele.com.pe</li>
        <li>+51 935862918</li>
      </ul>
    </div>
    <!-- Columna 3: Redes Sociales -->
    <div class="flex flex-col items-center lg:space-x-38 md:items-start text-center md:text-left">
      <h3 class="font-semibold mb-2">Síguenos</h3>
      <div class="flex gap-4 justify-center md:justify-start flex-wrap">
        <a href="https://github.com/Gabovoid" target="_blank" class="hover:text-gray-200 transition ">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-facebook-icon lucide-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
        </a>
        <a href="https://github.com/Gabovoid" target="_blank" class="hover:text-gray-200 transition">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram-icon lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
        </a>
        <a href="https://github.com/Gabovoid" target="_blank" class="hover:text-gray-200 transition">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter-icon lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
        </a>
      </div>
    </div>

  </div>

  <!-- Línea de copyright -->
  <div class="mt-8 border-t border-gray-700 pt-4 text-center text-gray-500 text-sm">
    &copy; 2025 Todos los derechos reservados.
  </div>
</footer>